{% extends 'base.html' %}
{% load static %}
{% block title %}Relatórios {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="col mb-2">
        <div class="d-flex justify-content-end">
            <a href="{% url 'add_relatorio' %}" class="btn btn-primary btn-md">
                Adicionar despesa
            </a>
        </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h6 class="m-0 font-weight-bold text-primary">Histórico de entradas e saídas</h6>
            <form method="get">
                <div class="row">
                    <div class="col-md-5">
                        <input type="date" class="form-control" id="data_inicial" name="data_inicial" value="{{ data_inicial }}">
                    </div>
                    <div class="col-md-5">
                        <input type="date" class="form-control" id="data_final" name="data_final" value="{{ data_final }}">
                    </div>
                    <div class="col-md-2">
                        <label>&nbsp;</label>
                        <button type="submit" class="btn btn-primary btn-circle"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ENTRADA <i class="fas fa-arrow-up text-success"></i> - SAIDA <i class="fas fa-arrow-down text-danger"></i></th>
                            <th>DESCRIÇÃO</th>
                            <th>DATA</th>
                            <th>VALOR</th>
                            <th>AÇÕES</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data_relatorio in logs %}
                        <tr>
                            <td><i class="fas {% if data_relatorio.tipo == 'entrada' %}fa-arrow-up text-success{% else %}fa-arrow-down text-danger{% endif %}"></i></td>
                            <td>{{data_relatorio.descricao|default:"-----"}}</td>
                            <td>{{data_relatorio.data_log_formatada}}</td>
                            <td>{{data_relatorio.valor}}</td>
                            <td>
                                <form action="{% url 'deletar-relatorio' data_relatorio.pk %}" method="post" class="d-inline">{% csrf_token %}
                                    <button class="btn btn-danger" type="submit"><i class="fas fa-trash"></i></button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="pagination">
                    <span class="step-links">
                        {% if logs.has_previous %}
                            <a href="?page=1">&laquo; Primeiro</a>
                            <a href="?page={{ logs.previous_page_number }}">Voltar</a>
                        {% endif %}
                        <span class="current-page">
                            Página {{ logs.number }} de {{ logs.num_pages }}
                        </span>
                        <span class="current-page">{{ logs.number }}</span>
                        
                        {% if logs.has_next %}
                            <a href="?page={{ logs.next_page_number }}">próximo</a>
                            <a href="?page={{ logs.paginator.num_pages }}">Ultimo &raquo;</a>
                        {% endif %}
                    </span>
                </div>                
            </div>
        </div>
    </div>
   <div class="row">
        <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Entradas (TOTAL)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">R$ +{{total_entradas}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-arrow-up fa-2x text-success"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Saídas (TOTAL)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">R$ -{{total_saidas}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-arrow-down fa-2x text-danger"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Entradas (MENSAL)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">R$ +{{total_entradas_mensal}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-success"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Saídas (MENSAL)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">R$ -{{total_saidas_mensal}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-danger"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<script src="{% static 'js/chart.js' %}"></script>
    
<script>
    
    //const url = 'http://localhost:8000/data-relatorio';
    /*
    fetch(url)
    .then(response => {*/
            if (!response.ok) {
                throw new Error('Não foi possível obter os dados');
            }
                return response.json();
        })
        .then(data => {

            var ctx = document.getElementById("myPieChart");
            var myPieChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: ["ENTRADA", "SAÍDA"],
                    datasets: [{
                        data: [data.carrinho, data.saidas],
                        backgroundColor: ['#1cc88a', '#ff0000'],
                        hoverBackgroundColor: ['#17a673', '#a51b0b'],
                        hoverBorderColor: "rgba(234, 236, 244, 1)",
                    }],
                },
                options: {
                    maintainAspectRatio: false,
                    tooltips: {
                        backgroundColor: "rgb(255,255,255)",
                        bodyFontColor: "#858796",
                        borderColor: '#dddfeb',
                        borderWidth: 1,
                        xPadding: 15,
                        yPadding: 15,
                        displayColors: false,
                        caretPadding: 10,
                    },
                    legend: {
                        display: false
                    },
                    cutoutPercentage: 80,
                },
            });

        })
        .catch(error => {

            console.error('Erro: ', error);
        });


        
        const urlRelatorio = 'http://localhost:8000/data-all-relatorio';
        
        function fetchDataAndCreateChart() {
            fetch(urlRelatorio)
            .then(response => response.json())
            .then(data => {
                
                const ctx = document.getElementById('myChart').getContext('2d');

                const chartData = {
                    labels: data.logs_data.map(item => item.data_log_formatada), 
                    datasets: [
                        {
                            label: 'ENTRADA',
                            data: data.entrada.map(item => item.valor),
                            backgroundColor: '#1cc88a',
                            borderColor: '#fff',
                            borderWidth: 1,
                        },
                        {
                            label: 'SAÍDA',
                            data: data.saida.map(item => item.valor),
                            backgroundColor: '#ff0000',
                            borderColor: '#fff',
                            borderWidth: 1,
                        },
                    ],
                };
                
                const chartOptions = {
                scales: {
                    y: {
                    beginAtZero: true,
                    },
                },
                };
                
                new Chart(ctx, {
                    type: 'bar',  // Pode ser 'bar', 'line', 'pie', etc.
                    data: chartData,
                    options: chartOptions,
                });
            })
            .catch(error => {
                console.error('Erro ao buscar dados:', error);
            });
        }
          
        fetchDataAndCreateChart();
</script>
{% endblock content %}