<!DOCTYPE html>
{% load static %}

<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

    <style>
        body, html {
            height: 100%;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .container-fluid{
            width: 800px;
        }
        
        .card{
            height: 400px
        }
    </style>
  </head>
  <body>
    <div class="container">

        <div class="container-fluid">
            <div class="card shadow">
                <div class="card-header bg-primary">
                    <h3 class="font-weight-bold text-center text-white">Login</h3>
                </div>
                <div class="card-body d-flex justify-content-center align-items-center">
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="mb-1">
                            <label for="id_username" class="col-form-label">Username:</label>
                            <div class="col-12">
                                <input type="text" name="username" class="form-control" placeholder="Username" id="id_username">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="id_password" class="col-form-label">Senha:</label>
                            <div class="col-12">
                                <input type="password" name="password" class="form-control" placeholder="Senha" id="id_password">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success col-12">Entrar</button>
                    </form>
                    
                </div>
            </div>
        </div>
        
    </div>
    <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>

    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>